name: enfify
channels:
  - conda-forge
dependencies:
  - python=3.10
  - black
  - flake8
  - isort
  - pip
  - typer
  - loguru
  - tqdm
  - ipython
  - jupyterlab
  - matplotlib
  - notebook
  - numpy
  - pandas
  - scikit-learn
  - ffmpeg
  - pip:
    - python-dotenv
    - mkdocs
    - -e .
    - soundfile
    - pydub
    - selenium
    - fpdf
